[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
langchain = "*"
langchain-community = "*"
langgraph = "*"
langchain-openai = "*"
duckduckgo-search = "*"
faiss-cpu = "*"
colorama = "*"
google-genai = "*"
streamlit = "*"
google-generativeai = "*"

[dev-packages]

[requires]
python_version = "3.13"
